
div {
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 20px;
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.highlight {
    opacity: 50%;
}
